<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
        <h2>Course list:</h2>
        
            <table border="1">
                <tr>
                    <th>Course</th>
                    <th>Remaining lessons</th>
                    <th>Current state</th>
                </tr>
            
                
                {{#courses}}
                    <tr>
                        <th><a href="/courses/{{id}}">{{name}}</a></th>
                        <th><b>{{lessonCount}}</b></th>
                        <th><b>{{state}}</b></th>
                    </tr>
                {{/courses}}
            
            </table>
        
        <hr>
        <div>
            <form method="post">
                <input type="text" name="name" placeholder="Course name"/>
                <!--<input type="text" name="userName" placeholder="User name"/>-->
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>

