<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Course Info:</h2>
        {{#course}}
            <div>
                <b>{{id}}</b>
                <b>{{name}}</b>
            </div>
            <div>
                Remaining lessons: {{lessonCount}}
            <div>
            <div>
                <b>Status: {{state}}</b>
            </div>
            <hr>
            <h4>Users:</h4>

            <lu>
            {{#users}}
                <li> {{name}}</li>
            {{/users}}
            </lu>
            {{^users}}
                <i>No users</i>
            {{/users}}
            <hr>
            <div>
                <form method="post">
                    <input type="text" name="userName" placeholder="Add new user"/>
                    <button type="submit">Add user</button>
                </form>
            </div>

        {{/course}}
        
        <hr>
        <a href="../courses">goto to course list</a>
    </body>
</html>

