<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Hello user!</div>
        <a href="users">Goto users</a>
        <a href="courses">Goto courses</a>
    </body>
</html>
