<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>User Info:</div>
        {{#user}}
            <div>
                <b>{{id}}</b>
                <b>{{name}}</b>
            </div>
            <hr>
            <div>User's courses:</div>
            <table border="1">
                <tr>
                    <th>Course</th>
                    <th>Remaining lessons</th>
                    <th>Current state</th>
                </tr>
                {{#courses}}
                    <tr>
                        <th><a href="../courses/{{id}}">{{name}}</a></th>
                        <th><b>{{lessonCount}}</b></th>
                        <th><b>{{state}}</b></th>
                    </tr>
                {{/courses}}
                {{^courses}}
                    <tr>
                        <th><i>No courses </i></th>
                        <th>-</th>
                        <th>-</th>
                    </tr>
                {{/courses}}
            </table>

            

        {{/user}}
        
        <hr>
        <a href="../users">goto to user list</a>
    </body>
</html>

