<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>User list:</h2>
        <ul>
        {{#users}}
            
                <li><div>
                    <b>{{id}}</b>
                    <b>{{name}}</b>
                    <a href="users/{{id}}">show user info</a>
                </div></li>
            
        {{/users}}
        </ul>
        <hr>
        <div>
            <form method="post">
                <input type="text" name="name" placeholder="User name"/>
                <button type="submit">Add</button>
            </form>
        </div>
    </body>
</html>

