<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out"/>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        </form>
        <h2>User list:</h2>
        <ul>
        {{#users}}
            
                <li><div>
                    <b>{{id}}</b>
                    <b>{{name}}</b>
                    <a href="users/{{id}}">show user info</a>
                </div></li>
            
        {{/users}}
        </ul>
        <hr>
        <div>
            <form method="post">
                <input type="text" name="name" placeholder="User name"/>
                <input type="text" name="password" placeholder="Password"/>
                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                <button type="submit">Add User</button>
            </form>
        </div>
    </body>
</html>

